@import url(common.css);

#wrap{
  width:100%;
}
#loading{
  width: 100%;
  height: 100vh;
  display: none;
}





#mainContent{
  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

#webDesign, #webPublishing, #webPlan, #profile{
  position: relative;
  width: 23%;
  max-width: 275px;
  height: 40vh;
  margin:10% 1%;
  border-radius: 5px;
  transition: 1s;
}
/* #webDesign:after{
  position: absolute;
  content:"";
  width: 3px;
  height: 100%;
  left: 5%;
  background-color: white;
} */
#webDesign>.designCover, #webPublishing>.publishingCover, #webPlan>.planCover, #profile>.profileCover{
  position: absolute;
  top: 0px;
  left: 0px;
}
#webDesign>.designCover>.bookImg, #webPublishing>.publishingCover>.bookImg, #webPlan>.planCover>.bookImg, #profile>.profileCover>.bookImg{
  width: 100%;
}
#webDesign>.designCover>.openImg, #webPublishing>.publishingCover>.openImg, #webPlan>.planCover>.openImg, #profile>.profileCover>.openImg{
  display: inline-block;
  position: absolute;
  width: 50%;
  max-width: 130px;
  top: 50%;
  right: 0px;;
  transform: translateY(-50%);
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}